<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.richa.sugarthrow"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/app_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="Sugar Throw"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UnityPlayerActivity"
            android:process="com.example.richa.sugarthrow.UnityPlayerActivity"
            android:banner="@drawable/app_banner"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:isGame="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DiaryActivity" />
        <activity android:name=".ProgressActivity" />
        <activity android:name=".FoodDatabaseActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".RiskActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SignUpActivity"/>
        <activity android:name=".GoalsActivity"/>
        <activity android:name=".SignOutPopup"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".FeedbackActivityPopup"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
    </application>

</manifest>